@using Ninject
@using CalendarThematicPlan.Container
@using CalendarThematicPlan.BLL.Interface

@{
    ISubjectLogic subjectLogic = NinjectCommon.Kernel.Get<ISubjectLogic>();
    var subjects = subjectLogic.GetSubjects();
}

<div class="mb-5">


    <table class="border-dark" border="1">
        <tr>
            <td>ID</td>
            <td>Название предмета</td>
            <td>Количество часов за четверть</td>
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
            {
                <td>Доп дейтсвия</td>
            }
            </tr>
        @foreach (var item in subjects)
        {
    <tr class="align-middle">
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Hours</td>
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {
            <td>
                @Html.ActionLink("Update", "Update", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        }
        </tr>
        }
    </table>
</div>

