@using CalendarThematicPlan.Container;
@using CalendarThematicPlan.BLL.Interface;
@using Ninject
@using CalendarThematicPlan.Entity

@{
    Layout = null;
}

@{
    IGradeLogic gradeLogic = NinjectCommon.Kernel.Get<IGradeLogic>();
    if (IsPost)
    {
        string id = Model.Id.ToString();

        try
        {
            gradeLogic.DeleteGrade(id);
            Response.Redirect("~/Grade/Index");
        }
        catch (Exception e)
        {
            <div class="card-header">
                <h2>@e.Message</h2>
            </div>
        }
    }
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="mb-5">
        <table class="border-dark" border="1">
            <tr>
                <td>ID</td>
                <td>Номер</td>
                <td>Буква</td>
                <td>Детей в классе</td>
            </tr>
            <tr class="align-middle">
                <td>@Model.Id</td>
                <td>@Model.Number</td>
                <td>@Model.Letter</td>
                <td>@Model.KidsInClass</td>
            </tr>
        </table>
    </div>

    <div>
        <form method="post">
            <button>Удалить класс</button>
        </form>
    </div>
</body>
</html>
