@using CalendarThematicPlan.BLL.Interface
@using Ninject
@using CalendarThematicPlan.Container

@{
    Layout = null;
}

@{
    IUserSubjectLogic userSubjectLogic = NinjectCommon.Kernel.Get<IUserSubjectLogic>();
    if (IsPost)
    {
        string idUser = Model.Id.ToString();
        string idSubject = Request["number"];

        try
        {
            userSubjectLogic.AddUserSubject(idSubject, idUser);
        }
        catch (Exception e)
        {
            <div class="card-header">
                <h2>@e.Message</h2>
            </div>
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <script type="text/javascript" src="~/Scripts/validation.js"></script>
</head>
<body>
    <div>
        <table class="border-dark" border="1">
            <tr>
                <td>ID</td>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td>Должность</td>
                <td>Фото</td>
            </tr>

            <tr class="align-middle">
                <td>@Model.Id</td>
                <td>@Model.LastName</td>
                <td>@Model.FirstName</td>
                <td>@Model.Patronymic</td>
                <td>@Model.Position</td>
                <td>
                    @if (Model.UserPhoto != null)
                    {
                        @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                 + Convert.ToBase64String(Model.UserPhoto) + "\" />")
                    }
                    else
                    {
                        <img style='width:80px; height:60px;' src="~/Images/user.jpg" />
                    }
                </td>
            </tr>
        </table>

        <h1>Назначить преподавателю предмет</h1>
        <form method="post">
            <label for="number">
                <input type="number" id="number" name="number" placeholder="Идентификатор предмета"
                       onchange="isRightNumber(this.value, 'number', 'check-number', 'check-number-helper')" value="" />
            </label>

            <div id="check-number">

            </div>

            <button>Привязать предмет</button>
        </form>
    </div>
</body>
</html>
